/*----------------------------------------
    Login Page
------------------------------------------*/
/*----------------------------------------
    Login Page
------------------------------------------*/
.login-bg
{
    background-image: url('../../images/gallery/crm.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}

#login-page,#register-page,#email-password,#reset-page
{
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    height:90vh; 

    -webkit-box-pack: right;
    -webkit-justify-content: right;
       -moz-box-pack: right;
    -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: right;
    -webkit-align-items: right;
       -moz-box-align: right;
    -ms-flex-align: right;
            align-items: right;
}
#login-page .card-panel.border-radius-6.login-card,#register-page .card-panel.border-radius-6.register-card,#email-password .card-panel.border-radius-6.email-card,#reset-page .card-panel.border-radius-6.reset-card
{
    margin-left: 0 !important;
}
